services:
  app:
    build: .
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    entrypoint: ["node", "bin/cli.js"]

  test:
    build: .
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    entrypoint: ["npm", "test"]
